apiVersion: apps/v1
kind: Deployment
metadata:
  name: projectdeployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: calc
  template:
    metadata:
      labels:
        app: calc
    spec:
      containers:
        - name: calccontainer
          image: ncplacr.azurecr.io/simpleapp:v1
          ports:
            - containerPort: 80